#todosList {
  list-style: none;
  padding: 0;
}
#todosList li {
  padding: 10px 0;
  /*border-bottom: 1px solid gray;*/
}
#todos-empty {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
}
.todo-date {
  display: block;
  font-size: 10px;
  color: gray;
}
.todo-completed {
  color: gray;
  font-style: italic;
}
.complete-btn {
  font-size: 30px;
}
.todo-label-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
