<form class="pure-form">
    <fieldset>
        <input  type="text"
                placeholder="Write a new todo and press ENTER"
                #todoLabel
                class="pure-u-1 pure-input-rounded"
                (keypress)="handleKeypress($event);"/>

        <!--
        <button type="button"
                class="pure-button pure-button-primary"
                (click)="saveTodo(todoLabel.value); todoLabel.value = ''">
                save
        </button>
    -->
    </fieldset>
</form>
